<!-- Apache License Version 2.0

Copyright 2020 Tobias Anker

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. -->

<!--=============================================================================-->
<!--                                content                                      -->
<!--=============================================================================-->

<svg width="100%" height="68">
    <polygon class="hexagon_field header_label_position_short" points="185,0 200,21 185,42 15,42 0,21 15,0"></polygon>
    <text x="50%" y="27" text-anchor="middle" alignment-baseline="central" font-size="20px">User</text>
</svg>

<div class="tile_content_div">
    <button id="create_user_button" class="add_button">+</button>
    <table align = "center" id="table" border="1"></table>
</div>

<!--=============================================================================-->
<!--                              create modal                                   -->
<!--=============================================================================-->

<div id="create_modal" class="modal">
    <div id="create_modal_content" class="modal_content">
        <div class="modal_header_part">
            <svg width="100%" height="68" class="modal_header_position">
                <polygon class="hexagon_field header_label_position_mid" points="285,0 300,21 285,42 15,42 0,21 15,0"></polygon>
                <text x="50%" y="27" text-anchor="middle" alignment-baseline="central" font-size="20px">Create new User</text>
            </svg>
        </div>
        <div class="modal_content_part">
            <div class="modal_input_fields">
                <label class="modal_label" for="id">ID:</label>
                <input type="text" id="id_field" name="id">
                <br><br>
                <label class="modal_label" for="name">Name:</label>
                <input type="text" id="name_field" name="name">
                <br><br>
                <label class="modal_label">Is Admin:</label>
                <label class="switch" for="isAdmin_field">
                    <input type="checkbox" id="isAdmin_field" />
                    <div class="slider round"></div>
                </label>
                <br><br>
                <label class="modal_label" for="pass">Passphrase (8 characters minimum):</label>
                <input type="passphrase" id="pass1" name="passphrase" minlength="8" required>
                <br><br>
                <label class="modal_label" for="pass">Passphrase repeat:</label>
                <input type="passphrase" id="pass2" name="passphrase" minlength="8" required>
            </div>
            <div id="create_alert_box" class="alert">
                <span class="closebtn" onclick="clearAlertBox('create');">&times;</span> 
                <label id="create_alert_text_label"></label>
            </div>
        </div>
        <div class="modal_footer_part">
            <center>
                <button id="create_modal_accept_button" class="generic_svg_button modal_accept_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/check-lg.svg">
                </button>
                <button id="create_modal_cancel_button" class="generic_svg_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/x-lg.svg">
                </button>
            </center>
        </div>
    </div>
</div>

<!--=============================================================================-->
<!--                              delete modal                                   -->
<!--=============================================================================-->

<div id="delete_modal" class="modal">
    <div id="delete_modal_content" class="modal_content">
        <div class="modal_header_part">
            <svg width="100%" height="70" class="modal_header_position">
                <polygon class="hexagon_field header_label_position_mid" points="285,0 300,21 285,42 15,42 0,21 15,0"></polygon>
                <text x="50%" y="27" text-anchor="middle" alignment-baseline="central" font-size="20px">Delete User</text>
            </svg>
        </div>
        <div class="modal_content_part">
            <center>
                <br><br>
                Do you really want to delete user:
                <br><br>
                <h2><label id="delete_label_text" class="delete_label_text">></label></h2>
            </center>
            <div id="delete_alert_box" class="alert">
                <span class="closebtn" onclick="clearAlertBox('delete');">&times;</span> 
                <label id="delete_alert_text_label"></label>
            </div>
        </div>
        <div class="modal_footer_part">
            <center>
                <button id="delete_modal_accept_button" class="generic_svg_button modal_accept_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/check-lg.svg">
                </button>
                <button id="delete_modal_cancel_button" class="generic_svg_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/x-lg.svg">
                </button>
            </center>
        </div>
    </div>
</div>

<!--=============================================================================-->
<!--                         add project to user modal                           -->
<!--=============================================================================-->

<div id="add_project_modal" class="modal">
    <div id="add_project_modal_content" class="modal_content">
        <div class="modal_header_part">
            <svg width="100%" height="68" class="modal_header_position">
                <polygon class="hexagon_field header_label_position_long" points="385,0 400,21 385,42 15,42 0,21 15,0"></polygon>
                <text x="50%" y="27" text-anchor="middle" alignment-baseline="central" font-size="20px">Add project to user</text>
            </svg>
        </div>
        <div class="modal_content_part">
            <div class="modal_input_fields">
                <label class="modal_label" for="projectDropdown">Project:</label>
                <div id="dropdown_project_div" name="projectDropdown"></div>
                <br>
                <label class="modal_label" for="userRoleDropdown">Role:</label>
                <div id="dropdown_userRole_div" name="userRoleDatasetDropdown"></div>
                <br>
                <label class="modal_label">Is Project-Admin:</label>
                <label class="switch" for="isProjectAdmin_field">
                    <input type="checkbox" id="isProjectAdmin_field" />
                    <div class="slider round"></div>
                </label>
            </div>
            <div id="add_project_alert_box" class="alert">
                <span class="closebtn" onclick="clearAlertBox('add_project');">&times;</span> 
                <label id="add_project_alert_text_label"></label>
            </div>
        </div>
        <div class="modal_footer_part">
            <center>
                <button id="add_project_modal_accept_button" class="generic_svg_button modal_accept_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/check-lg.svg">
                </button>
                <button id="add_project_modal_cancel_button" class="generic_svg_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/x-lg.svg">
                </button>
            </center>
        </div>
    </div>
</div>


<!--=============================================================================-->
<!--                      remove project from user modal                         -->
<!--=============================================================================-->

<div id="remove_project_modal" class="modal">
    <div id="remove_project_modal_content" class="modal_content">
        <div class="modal_header_part">
            <svg width="100%" height="68" class="modal_header_position">
                <polygon class="hexagon_field header_label_position_long" points="385,0 400,21 385,42 15,42 0,21 15,0"></polygon>
                <text x="50%" y="27" text-anchor="middle" alignment-baseline="central" font-size="20px">Remove project from user</text>
            </svg>
        </div>
        <div class="modal_content_part">
            <div class="modal_input_fields">
                <div>
                    <label class="modal_label" for="userProjectDropdown">Projects of user:</label>
                    <div id="dropdown_user_project_div" name="userProjectDropdown"></div>
                </div>
            </div>
            <div id="remove_project_alert_box" class="alert">
                <span class="closebtn" onclick="clearAlertBox('remove_project');">&times;</span> 
                <label id="remove_project_alert_text_label"></label>
            </div>
        </div>
        <div class="modal_footer_part">
            <center>
                <button id="remove_project_modal_accept_button" class="generic_svg_button modal_accept_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/check-lg.svg">
                </button>
                <button id="remove_project_modal_cancel_button" class="generic_svg_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/x-lg.svg">
                </button>
            </center>
        </div>
    </div>
</div>

<!--=============================================================================-->
<!--                                 style                                       -->
<!--=============================================================================-->

<style>
    #create_modal_content { 
        color: var(--color-text);
        width: 40rem;
        height: 37rem;
    }

    /* for users there is no uuid in the firsh column, so override the styling for this special case */
    td:nth-child(1) {  
        font-family: var(--text-font-family);
        width: 20rem;
    }

    #delete_modal_content { 
        color: var(--color-text);
        width: 40rem;
        height: 17rem;
    }

    #add_project_modal_content {
        color: var(--color-text);
        width: 40rem;
        height: 30rem;
    }

    #remove_project_modal_content {
        color: var(--color-text);
        width: 40rem;
        height: 20rem;
    }

</style>

<!--=============================================================================-->
<!--                                 script                                      -->
<!--=============================================================================-->

<script src="/scripts/table_processing.js"></script>
<script src="/scripts/common.js"></script>
<script src="/scripts/actions.js"></script>
<script src="/sdk/javascript/user.js"></script> 
<script>

    /**
     *
     */
    var clearModalFields = function()
    {
        clearAlertBox("delete");
        clearAlertBox("create");
        clearAlertBox("add_project");
        clearAlertBox("remove_project");

        document.getElementById('id_field').value = "";
        document.getElementById('name_field').value = "";
        document.getElementById('isAdmin_field').checked = "";
        document.getElementById('pass1').value = "";
        document.getElementById('pass2').value = "";
    }

    /**
     *
     */
    var listUsers = function() 
    {
        listUsers_request(
            function(status, responseText) 
            {
                if(status !== 200) {
                    //TODO: error-popup
                    return;
                }

                const jsonContent = JSON.parse(responseText);
                var headerMapping = new Map();
                headerMapping.set("id", "ID");
                headerMapping.set("name", "Name");
                headerMapping.set("projects", "Projects");
                headerMapping.set("is_admin", "Is Admin"); 
                var additionalButtons = ['onclick="addProjectToUser(this.value)">Add Project</button>',
                                         'onclick="removeProjectFromUser(this.value)">Remove Project</button>',
                                         'onclick="openDeleteModal(deleteUser, this.value)">Delete</button>' ];
                constructTable(jsonContent, headerMapping, '#table', additionalButtons);
            },
            getAndCheckToken()
        );
    }

    /**
     *
     */
    var deleteUser = function(identifier)
    {
        deleteUser_request(
            function(status, responseText) 
            {
                if(status !== 200) {
                    showErrorInModal("delete", responseText);
                    return;
                }
                document.getElementById("delete_modal").style.display = "none";
                listUsers();
            }, 
            identifier, 
            getAndCheckToken()
        );
    }
    
    /**
     *
     */
    var createUser = function()
    {
        const id = document.getElementById('id_field').value;
        const name = document.getElementById('name_field').value;
        const isAdmin = document.getElementById('isAdmin_field').checked;
        const passphrase1 = document.getElementById('pass1').value;
        const passphrase2 = document.getElementById('pass2').value;

        if(passphrase1 != passphrase2) 
        {
            showErrorInModal("create", "Passphrases are not equal");
            return false;
        }

        if(id == "") 
        {
            showErrorInModal("create", "ID is missing");
            return false;
        }

        if(name == "") 
        {
            showErrorInModal("create", "Name is missing");
            return false;
        }

        if(passphrase1 == "") 
        {
            showErrorInModal("create", "Passphrase is missing");
            return false;
        }

        createUser_request(
            function(status, responseText) 
            {
                if(status !== 200) 
                {
                    showErrorInModal("create", responseText);
                    return;
                }
                document.getElementById("create_modal").style.display = "none";
                listUsers();
            }, 
            id, 
            name, 
            passphrase1, 
            isAdmin, 
            getAndCheckToken()
        );
        return true;
    }

    /**
     *
     */
    var addProjectToUser = function(userId)
    {
        fillDropdownList("dropdown_project_div", "/control/v1/project/all"); 
        openGenericModal(
            function() 
            {
                const projectId = getDropdownValue("dropdown_project_div");
                const role = getDropdownValue("dropdown_userRole_div");
                const isProjectAdmin = document.getElementById('isProjectAdmin_field').checked;

                addProjectToUser_request(
                    function(status, responseText) 
                    {
                        if(status !== 200) 
                        {
                            showErrorInModal("add_project", responseText);
                            return;
                        }
                        document.getElementById("add_project_modal").style.display = "none";
                        listUsers();
                    }, 
                    userId, 
                    projectId, 
                    role, 
                    isProjectAdmin, 
                    getAndCheckToken()
                );
            }, 
            "add_project_modal", 
            clearModalFields
        );
    }

    /**
     *
     */
    var removeProjectFromUser = function(userId)
    {
        fillUserProjectDropdownList("dropdown_user_project_div", userId); 
        openGenericModal(
            function() 
            {
                const projectId = getDropdownValue("dropdown_user_project_div");
                removeProjectFromUser_request(function(status, responseText) {
                    if(status !== 200) {
                        showErrorInModal("remove_project", responseText);
                    }
                    document.getElementById("remove_project_modal").style.display = "none";
                    listUsers();
                }, 
                userId, 
                projectId, 
                getAndCheckToken());
            }, 
            "remove_project_modal", 
            clearModalFields
        );
    }

    /**
     *
     */
    document.getElementById("create_user_button").onclick = function() {
        openGenericModal(createUser, "create_modal", clearModalFields);
    }

    var availableRoles = ["member"];
    clearModalFields();
    fillStaticDropdownList("dropdown_userRole_div", availableRoles);
    listUsers();
    
</script>
