/* Apache License Version 2.0

Copyright 2020 Tobias Anker

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

:root {
    --color-background: #2a2f33;
    --color-tile: #3b3f42;
    --color-higlight-field: #45494d;

    --color-shadow: #292929;
    --color-text: #f1f1f1;
    --color-text-light: #8e9396;
    --color-table: #f1f1f1;
    --color-highlight: rgb(247, 181, 225);

    --text-font-family: Verdana, sans-serif, Arial, Helvetica;
    --text-font-size: 1.0rem;

    --box-shadow: 0  0.5rem 0.5rem var(--color-shadow);
    --box-shadow-footer: 0 -0.5rem 0.5rem var(--color-shadow);
    --box-shadow-header: 0 0.5rem 0.5rem var(--color-shadow);
}

/*=================================================
Generic objects
=================================================*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    user-select: none;
    overflow-x: hidden;
    line-height: 1.5;
    
    /* scalse entire page */
    /*transform: scale(1.4);
    transform-origin: 0 0; */
}

a {
    color: var(--color-text);
}

button {
    color: var(--color-text);
}

button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(70%);
}

h1 {
    font-size: 2.0rem;
}

input[type="text"] {
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-text-light);
    padding: 8px;
    width: 100%;
}

input[type="passphrase"] {
    border: 0;
    outline: 0;
    background: transparent;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-text-light);
    padding: 8px;
    width: 100%;
}

input[type="file"] {
    border: 0;
    outline: 0;
    background: transparent;
    color: invert(var(--color-text));
    padding: 8px;
    width: 100%;
}

/*button for file-selector*/
input::file-selector-button {
    width: 10rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    border: thin solid grey;
}

textarea {
    background: transparent;
    color: var(--color-text);
    border: 1px solid var(--color-text-light);
    padding: 8px;
    width: 100%;
}

label {
    display: inline-block;
    width: 100%;
    text-align: left;
}

/*=================================================
Base site
=================================================*/

#avatar {
    width: 2.0rem;
    height: 2.0rem;
    border-radius: 50%;
    overflow: hidden; /* hide scrollbar */
}

#kitsunemimi_top {
    background-color: var(--color-tile);
    overflow: auto; 
    height: 4.2rem; 
    width: 100%; 
    left: 0rem; 
    top: 0rem; 
    position: absolute;
    box-shadow: var(--box-shadow-header);
    min-height: 150;
}

#header_user_name {
    color: var(--color-text);
    font-size: 1.5rem;
    font-style: italic;
    text-align: right;
    padding-top: 0.75rem;
    padding-right: 2rem;
    margin: auto;
}

#sidebar_div {
    background-color: var(--color-tile);
  	height: 40rem; 
  	width: 15rem; 
  	left: 0.8rem; 
  	top: 5.5rem; 
  	position: absolute;
} 

#content_div {
    height: 50rem; 
    width: calc(100% - 17.4rem); 
    left: 16.6rem; 
    top: 5.5rem; 
    position: absolute;
} 

.create_button {
    color: invert(var(--color-text));
    width: 10.0rem;
    height: 3.0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: var(--box-shadow);
}

.generic_button {
    color: invert(var(--color-text));
    width: 10.0rem;
    height: 3.0rem;
    box-shadow: var(--box-shadow);
}

.generic_svg_button {
    background-color: var(--color-tile);
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.generic_svg_on_button {
    filter: invert(1);
    width: 3rem;
    height: 3rem;
}

.table_side_button {
    color: rgb(0, 0, 0);
    width: auto;
    height: 1.5rem;
    box-shadow: var(--box-shadow);
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.table_dropdown_button {
    height: 2rem;
    color: invert(var(--color-text));
    /*filter: invert(100%);*/
    display: block;
    width: 100%;
    border: none;
}

.tile_content_div {
    background-color: var(--color-tile);
    color: var(--color-text);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1.0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: -53px;
    margin-bottom: -20px;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.plain_text_div {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.tile_div {
    margin-bottom: 3rem;
}

.hexagon_field {
    color: rgb(0, 0, 0);
    fill: white;
    font-weight: bold;
    filter: drop-shadow(var(--box-shadow-header));
}

.header_label_position_long {
    transform: translate(calc(50% - 200px), 0%);
}

.header_label_position_mid {
    transform: translate(calc(50% - 150px), 0%);
}

.header_label_position_short {
    transform: translate(calc(50% - 100px), 0%);
}

.add_button {
    background-color: var(--color-highlight);
    color: rgb(0, 0, 0);
    width: 2.0rem;
    height: 2.0rem;
    margin-top: -2rem;
    float: right;
    position: relative; /* necessary for the z-index */
    z-index: 1;
    box-shadow: var(--box-shadow);
}

.delete_label_text {
    vertical-align:middle;
    text-align:center;
    width: 30rem;
}

/*=================================================
ON-OFF-Slider of checkboxes
=================================================*/

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

select {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border: thin solid grey;
}

/*=================================================
ALERTS
=================================================*/

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.alertCloseBtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.alertCloseBtn:hover {
  color: black;
}

/*=================================================
Diagramms
=================================================*/

.diagram_axis{
    color: var(--color-text);
}  

.diagram_axis_text{
    fill: var(--color-text);
    font-family: var(--text-font-family);
} 

.diagram_title{
    fill: var(--color-text);
}   

.diagram_path {
    stroke: var(--color-highlight);
}

.diagram_grid {
    stroke: 1px;
    color: var(--color-text-light);
}