<!-- Apache License Version 2.0

Copyright 2020 Tobias Anker

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. -->

<!--=============================================================================-->
<!--                                 modal                                       -->
<!--=============================================================================-->

<div id="login_modal" class="modal">
    <div id="login_modal_content" class="modal_content">
        <div class="modal_header_part">
            <svg width="100%" height="70" class="modal_header_position">
                <polygon class="hexagon_field header_label_position_short" points="200,20 185,40 15,40 0,20 15,0 185,0"></polygon>
                <text x="75" y="25"  class="header_label_position_short" font-size="20px">Login</text>
            </svg>
        </div>
        <div id="modal_content_part" class="modal_content_part">
            <div class="modal_input_fields">
                <div>
                    <label class="modal_label" for="id">User-ID</label>
                    <input type="text" id="login_id_field" name="id" required>
                </div>
                <br><br>
                <div>
                    <label class="modal_label" for="passphrase">Passphrase</label>
                    <input type="passphrase" id="login_pw_field" name="passphrase" required>
                </div>
            </div>
            <div id="login_alert_box" class="alert">
                <span class="closebtn" onclick="clearAlertBox('login');">&times;</span> 
                <label id="login_alert_text_label"></label>
            </div>
        </div>
        <div class="modal_footer_part">
            <center>
                <button id="modal_login_button" class="generic_svg_button">
                    <img class="generic_svg_on_button" src="/Hanami-Dashboard-Dependencies/bootstrap_icons/check-lg.svg">
                </button>
            </center>
        </div>
    </form>
</div>

<!--=============================================================================-->
<!--                                 style                                       -->
<!--=============================================================================-->

<style>
    #login_modal {
        background-color: rgba(0,0,0,1.0); 
    }

    #login_modal_content { 
        color: var(--color-text);
        width: 30rem;
        height: 20rem;
    }
</style>

<!--=============================================================================-->
<!--                                 script                                      -->
<!--=============================================================================-->

<script src="/scripts/common.js"></script>
<script src="/scripts/login.js"></script>
<script src="/sdk/javascript/init.js"></script>  
<script>
    clearAlertBox("login");

    // deleteAllCookies();
    getAndCheckToken();

    // read user-name from cookies to keep the name after refreshing the site
    document.getElementById("header_user_name").innerHTML = getCookieValue("User_Name");

    // Allow Enter-button to tigger login
    document.getElementById("login_pw_field").addEventListener("keypress", function(event) 
    {
        if(event.key === "Enter") 
        {
            event.preventDefault();
            document.getElementById("modal_login_button").click();
        }
    }); 
</script>
